/* LoadingSpinner.css */

/* Estilo para el contenedor del spinner */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta según sea necesario */
    width: 100vw; /* Ajusta según sea necesario */
    background-color: white; /* Fondo blanco */
}

/* Estilo para el círculo giratorio */
.spinner-circle {
    border: 4px solid #f3f3f3; /* Color de fondo del círculo */
    border-top: 4px solid black; /* Color negro para la parte superior del círculo */
    border-radius: 50%; /* Redondea el círculo */
    width: 40px; /* Tamaño del círculo */
    height: 40px; /* Tamaño del círculo */
    animation: spin 1s linear infinite; /* Animación giratoria */
}

/* Definición de la animación giratoria */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
